extends ../layout-admin/layout-admin

block dashboardSidebar
          li.nav-item
              a(href='/account/dashboard')
                p Dashboard
          li.nav-section
            span.sidebar-mini-icon
              i.fa.fa-ellipsis-h
            h4.text-section Components
          block userSidebar
          li.nav-item
              a(href='/account/user')
               p Users
          block addUserSidebar
          li.nav-item
              a(href='/account/adduser')
               p Add User
          block projectSidebar
          li.nav-item.active
              a(href='/account/project')
               p Projects
          block addProjectSidebar
          li.nav-item
              a(href='/account/addproject')
               p Add Project
          block addAssignProjectSidebar
          li.nav-item
              a(href='/account/add_assign_project')
                p Assign Project
          block tracker
          li.nav-item
              a(href='/account/tracker')
                p Tracker
          block timesheet
          li.nav-item
              a(href='/account/timesheet')
                p Timesheet


block content
  .main-panel
    .content
      .page-inner
        .page-header
          h4.page-title Projects
          ul.breadcrumbs
            li.nav-home
              a(href='datatables.html#')
                i.flaticon-home
            li.separator
              i.flaticon-right-arrow
            li.nav-item
              a(href='datatables.html#') Tables
            li.separator
              i.flaticon-right-arrow
            li.nav-item
              a(href='datatables.html#') Datatables
        .row
          .col-md-12
            .card
              .card-header
                h4.card-title Projects Data
              .card-body
                .table-responsive
                  table#basic-datatable.display.table.table-striped.table-hover
                    thead
                      tr
                        th Name
                        th Client Name
                        th Details
                    tfoot
                      tr
                        th Name
                        th Client Name
                        th Details
                    tbody
                      each data in ProjectData
                        tr
                          td #{data.name}
                          td #{data.client_id.name}
                          td #{data.details}
    footer.footer
      .container-fluid
        nav.pull-left
          ul.nav
            li.nav-item
              a.nav-link(href='https://www.themekita.com')
                | ThemeKita
            li.nav-item
              a.nav-link(href='index.html#')
                | Help
            li.nav-item
              a.nav-link(href='index.html#')
                | Licenses
        .copyright.ml-auto
          | 2018, made with
          i.fa.fa-heart.heart.text-danger
          |  by
          a(href='https://www.themekita.com') ThemeKita


block pageScript
    script(src='/assets/js/core/jquery.3.2.1.min.js')
    script(src='/assets/js/core/popper.min.js')
    script(src='/assets/js/core/bootstrap.min.js')
    // jQuery UI
    script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
    script(src='/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
    // jQuery Scrollbar
    script(src='/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
    // Datatables
    script(src='/assets/js/plugin/datatables/datatables.min.js')
    // Atlantis JS
    script(src='/assets/js/atlantis.min.js')
    // Atlantis DEMO methods, don't include it in your project!
    script(src='/assets/js/setting-demo2.js')
    script.
        $(document).ready(function() {
        $('#basic-datatable').DataTable({
        });

            // Add Row

        });
