extends email-layout

block content
  h2 Powai Live.
  p Someone requested a new password for your Powai Live account. This link is only valid for the next hour.
  +button(resetURL, 'Reset my Password →')
  p If you can't click the above button please visit #{resetURL}
  br
  p If you didn't request this email, please ignore this email.